@font-face {
  font-family: 'iconfont';  /* project id 1138698 */
  src: url('https://at.alicdn.com/t/font_1138698_gn4uw26xdx.eot');
  src: url('https://at.alicdn.com/t/font_1138698_gn4uw26xdx.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1138698_gn4uw26xdx.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1138698_gn4uw26xdx.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1138698_gn4uw26xdx.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1138698_gn4uw26xdx.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconclose:before {
  content: "\e60c";
}

.icongou1:before {
  content: "\e650";
}

.iconqian:before {
  content: "\e60b";
}

.iconxiala:before {
  content: "\e608";
}

.iconrili:before {
  content: "\e615";
}

.iconadd:before {
  content: "\e623";
}

.icontupian:before {
  content: "\e7ed";
}

.iconguanbi:before {
  content: "\e7b7";
}

.icondustbin_icon:before {
  content: "\e659";
}

.iconziyuanxhdpi:before {
  content: "\e64d";
}

.iconshuaxin:before {
  content: "\e604";
}

.iconcuowu:before {
  content: "\e60d";
}

.iconwangluocuowu:before {
  content: "\e62c";
}

.iconicon-test:before {
  content: "\e603";
}

.iconxuanzhuan:before {
  content: "\e607";
}

.icontxt:before {
  content: "\e7d0";
}

.iconWord:before {
  content: "\edd5";
}

.icongou:before {
  content: "\e611";
}

.icondingwei:before {
  content: "\e613";
}

.iconmore:before {
  content: "\e624";
}

.iconback:before {
  content: "\e813";
}

.iconup:before {
  content: "\e814";
}

.icondown:before {
  content: "\e815";
}

.iconjiaren:before {
  content: "\e614";
}

.iconbackspace:before {
  content: "\e610";
}

.iconzhanghu:before {
  content: "\e63c";
}

.iconmima:before {
  content: "\e6c3";
}

.iconzizhutuiguang:before {
  content: "\e600";
}

.iconlishicaozuoliebiao:before {
  content: "\e612";
}

.iconsaoma:before {
  content: "\e633";
}

.iconconsumption:before {
  content: "\e6f1";
}

.icontuikuan:before {
  content: "\e6ea";
}

.iconshouyi:before {
  content: "\e678";
}

.iconpermissions:before {
  content: "\e6df";
}

.icon19:before {
  content: "\e6be";
}

.iconcaiwu:before {
  content: "\e618";
}

.iconchanpinfangxiang:before {
  content: "\e6f3";
}

.iconyingxiao:before {
  content: "\e7c0";
}

.iconxingzhuanggongnengtubiao-:before {
  content: "\e61c";
}

.icon-yuangong:before {
  content: "\e60a";
}

.icongonggao1:before {
  content: "\e61b";
}

.iconjingdong:before {
  content: "\e812";
}

.iconquma:before {
  content: "\e700";
}

.iconservice:before {
  content: "\e7bb";
}

