@font-face {
  font-family: 'iconfont';  /* project id 2008028 */
  src: url('https://at.alicdn.com/t/font_2008028_wo8y0g1awgf.eot');
  src: url('https://at.alicdn.com/t/font_2008028_wo8y0g1awgf.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2008028_wo8y0g1awgf.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2008028_wo8y0g1awgf.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2008028_wo8y0g1awgf.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2008028_wo8y0g1awgf.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kejian:before {
  content: "\e633";
}

.icon-bukejian:before {
  content: "\e634";
}

.icon-xinxi:before {
  content: "\e635";
}

.icon-xinxi1:before {
  content: "\e636";
}

.icon-dengdai:before {
  content: "\e638";
}

.icon-dingdan:before {
  content: "\e63a";
}

.icon-dingdan1:before {
  content: "\e63b";
}

.icon-gouwuche:before {
  content: "\e63c";
}

.icon-gouwuche1:before {
  content: "\e63d";
}

.icon-sousuo:before {
  content: "\e63e";
}

.icon-bianji:before {
  content: "\e63f";
}

.icon-fenxiang:before {
  content: "\e640";
}

.icon-fenxiang1:before {
  content: "\e641";
}

.icon-shezhi:before {
  content: "\e642";
}

.icon-xiazai:before {
  content: "\e644";
}

.icon-bofang:before {
  content: "\e645";
}

.icon-postion:before {
  content: "\e646";
}

.icon-tongzhi:before {
  content: "\e648";
}

.icon-tongzhi1:before {
  content: "\e649";
}

.icon-dianhu:before {
  content: "\e64a";
}

.icon-dianhua1:before {
  content: "\e64b";
}

.icon-shezhi2:before {
  content: "\e64c";
}

.icon-youjian:before {
  content: "\e64d";
}

.icon-kefu:before {
  content: "\e64e";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-guanbi:before {
  content: "\e651";
}

.icon-chenggong:before {
  content: "\e652";
}

.icon-guanbi1:before {
  content: "\e653";
}

.icon-chengong1:before {
  content: "\e654";
}

.icon-gantan:before {
  content: "\e655";
}

.icon-gantan1:before {
  content: "\e656";
}

.icon-wenhao:before {
  content: "\e657";
}

.icon-wenhao1:before {
  content: "\e658";
}

.icon-shoucang:before {
  content: "\e659";
}

.icon-shoucang1:before {
  content: "\e65a";
}

.icon-xin:before {
  content: "\e65b";
}

.icon-xin1:before {
  content: "\e65c";
}

.icon-up:before {
  content: "\e65d";
}

.icon-left:before {
  content: "\e65e";
}

.icon-down:before {
  content: "\e65f";
}

.icon-right:before {
  content: "\e660";
}

.icon-left1:before {
  content: "\e661";
}

.icon-right1:before {
  content: "\e662";
}

.icon-up1:before {
  content: "\e663";
}

.icon-down1:before {
  content: "\e664";
}

