page {
	height: 100%;
	background: #f4f4f4;
	color: #1F1F1F;
	font-size: 14px;
}
@font-face {
    font-family: font;
	src: url('/static/font/uni.ttf');
}
@font-face {
    font-family: number-font;
	font-display: swap;
	src: url('https://at.alicdn.com/t/webfont_t60rwjtjz1c.eot'); /* IE9*/
	src: url('https://at.alicdn.com/t/webfont_t60rwjtjz1c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('https://at.alicdn.com/t/webfont_t60rwjtjz1c.woff2') format('woff2'),
	url('https://at.alicdn.com/t/webfont_t60rwjtjz1c.woff') format('woff'), /* chrome、firefox */
	url('https://at.alicdn.com/t/webfont_t60rwjtjz1c.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('https://at.alicdn.com/t/webfont_t60rwjtjz1c.svg#杨任东竹石体-Bold') format('svg'); /* iOS 4.1- */
}
.font {
    font-family: 'font' !important;
}
.number-font {
	font-family: 'number-font' !important;
}

// image height 不固定会出现加载时拉伸的bug
/deep/image uni-image img {
	width: 100%;
	height: 100%;
	display: block;
}
view {
	box-sizing: border-box;
}
view text {
	line-height: 1;
}
input {
	font-size: 14px;
}
uni-label, label {
	display: flex;
	align-items: center;
}
// 复选框的样式
uni-checkbox, checkbox {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.uni-checkbox-input, .wx-checkbox-input {
		margin: 0;
		width: 36rpx;
		height: 36rpx;
		flex-shrink: 0;
		border-radius: 50%;
		border: 1px solid #f4f4f4;
		box-sizing: border-box;
		outline: 0;
	}
	.uni-checkbox-input.uni-checkbox-input-checked, .wx-checkbox-input.wx-checkbox-input-checked {
		background-color: $main-color;
		border: 1px solid $main-color!important;
		box-sizing: border-box;
	}
	.uni-checkbox-input.uni-checkbox-input-checked:before, .wx-checkbox-input.wx-checkbox-input-checked:before {
		font-size: 14px;
		color: #fff;
	}
	.uni-checkbox-wrapper, .wx-checkbox-wrapper {
		width: 100%;
	}
}
  
// 单选框
uni-radio, radio {
	display: flex;
	align-items: center;
	.uni-radio-input, .wx-radio-input {
		position: relative;
		margin: 0!important;
		width: 36rpx;
		height: 36rpx;
		border-radius: 50%;
		border: 1px solid #f4f4f4;
		box-sizing: border-box;
		appearance: none;
		outline: 0;
	}
	.uni-radio-input.uni-radio-input-checked, .wx-radio-input.wx-radio-input-checked {
		background-color: $main-color!important;
		border: 1rpx solid $main-color!important;
		box-sizing: border-box;
	}
	.uni-radio-input.uni-radio-input-checked:before, .wx-radio-input.wx-radio-input-checked:before {
		font-size: 14px;
		color: #fff;
	}
}
uni-textarea, textarea {
	width: 100%;
}
// h5 加载
uni-toast .uni-toast {
    z-index: 10090;
	width: 200rpx;
	height: 200rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	.uni-icon_toast.uni-loading {
		margin: 0;
	}
	.uni-toast__content {
		margin: 0;
		padding-top: 10rpx;
	}
}
.input-placeholder {
	color: #949AA6;
}